@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: lightgray;
  }
  
  .social {
    display: flex;
    align-items: center;
  }
  
  .social a {
    margin-left: 1rem;
    text-decoration: none;
  }
  
  nav.content {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: lightgray;
  }
  
  nav.content a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  section {
    padding: 2rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .home-section img {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
  
  form {
    padding: 2rem;
  }
  
  label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Segoe UI';
}

nav{
    height: 80px;
    width: 100%;
    background: #34495e;
}

.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}

nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

section{
    background-image: url(../image/image16.jpeg);
    background-size: cover;
    height: calc(100vh - 80px);
}
  
  input[type="text"], textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    padding: 1rem;
    background-color: lightgray;
    border: none;
    cursor: pointer;
  }
  
  .footer {
      padding: 55px 20px;
      background-color: #2e3550;
      color: white;
      text-align: center;
    }
  